# Предобрабатываю данные (избавляюсь от дубликатов), агрегирую до года, соединяю таблицы

In [1]:
pip install -r requirements.txt

Requirement already satisfied: polars==1.22.0 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 1)) (1.22.0)
Requirement already satisfied: pandas==2.2.3 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: numpy==2.2 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 3)) (2.2.0)
Requirement already satisfied: plotly==6.0.0 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 4)) (6.0.0)
Collecting fastexcel (from -r requirements.txt (line 5))
  Downloading fastexcel-0.12.1-cp38-abi3-win_amd64.whl.metadata (3.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from plotly==6.0.0->-r requirements.txt (line 4)) (1.25.2)
Requirement already satisfied: packaging in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from plotly==6.0.0->-r requirements.txt (line 4)) (24.2)
Collecting pyarrow>=8.0.0 (from fastexcel->-r requirements.txt (line 5))
  Downloading pyarrow-19.0.0-cp313-cp313-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r requirements.txt (line 2)) (1.17.0)
Downloading fastexcel-0.12.1-cp38-abi3-win_amd64.whl (1.0 MB)
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 1.0/1.0 MB 9.7 MB/s eta 0:00:00
Downloading pyarrow-19.0.0-cp313-cp313-win_amd64.whl (25.2 MB)
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   --- ------------------------------------ 2.4/25.2 MB 11.8 MB/s eta 0:00:02
   ------- -------------------------------- 4.7/25.2 MB 11.8 MB/s eta 0:00:02
   ---------- ----------------------------- 6.8/25.2 MB 11.3 MB/s eta 0:00:02
   -------------- ------------------------- 9.4/25.2 MB 11.3 MB/s eta 0:00:02
   ------------------ --------------------- 11.8/25.2 MB 11.5 MB/s eta 0:00:02
   ---------------------- ----------------- 14.4/25.2 MB 11.5 MB/s eta 0:00:01
   -------------------------- ------------- 16.8/25.2 MB 11.6 MB/s eta 0:00:01
   ------------------------------ --------- 19.1/25.2 MB 11.6 MB/s eta 0:00:01
   ---------------------------------- ----- 21.8/25.2 MB 11.6 MB/s eta 0:00:01
   -------------------------------------- - 24.1/25.2 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------- 25.2/25.2 MB 11.2 MB/s eta 0:00:00
Installing collected packages: pyarrow, fastexcel
Successfully installed fastexcel-0.12.1 pyarrow-19.0.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
cd ..

c:\Users\unstr\Documents\7 семестр работы\Диплом\thesis-repo\thesis\data

c:\Users\unstr\Documents\7 семестр работы\Диплом\thesis-repo\thesis\.venv\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
import polars as pl

In [65]:
trade19 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2019_V202501.csv')
trade20 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2020_V202501.csv')
trade21 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2021_V202501.csv')
trade22 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2022_V202501.csv')
country_codes = pl.read_csv('./raw_data/BACI_HS17_V202501/country_codes_V202501.csv')
sql = pl.SQLContext(register_globals=True)

In [4]:
#Структура данных. t, i , j , k --- ключ.
sql.execute('''select * from trade19 limit 1;''').collect()

shape: (1, 6)
┌──────┬─────┬─────┬────────┬───────┬───────┐
│ t    ┆ i   ┆ j   ┆ k      ┆ v     ┆ q     │
│ ---  ┆ --- ┆ --- ┆ ---    ┆ ---   ┆ ---   │
│ i64  ┆ i64 ┆ i64 ┆ i64    ┆ f64   ┆ f64   │
╞══════╪═════╪═════╪════════╪═══════╪═══════╡
│ 2019 ┆ 4   ┆ 20  ┆ 420229 ┆ 0.471 ┆ 0.001 │
└──────┴─────┴─────┴────────┴───────┴───────┘

In [5]:
#Проверяю, что в данных нет дублей
print(sql.execute('''select i, j, k, count(*) as cnt from trade19 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade20 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade21 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade22 group by 1, 2, 3 order by 4 desc limit 1;''').collect())

shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 757 ┆ 528 ┆ 551511 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 757 ┆ 686 ┆ 580632 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 702 ┆ 196 ┆ 630491 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 604 ┆ 484 ┆ 620193 ┆ 1   │
└─────┴─────┴────────┴─────┘

In [ ]:
# Меняю типы данных на более экономные, где это возможно, и объединяю таблицы для трёх лет
sql.execute(''' 
            create table trade_tmp as
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade20
            union all
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade21
            union all
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade22
            ;
            ''')
sql.execute('''select count(*) from trade_tmp;''').collect()

shape: (1, 1)
┌──────────┐
│ len      │
│ ---      │
│ u32      │
╞══════════╡
│ 34145929 │
└──────────┘

In [ ]:
# Удаляю лишние таблицы, чтобы не засоряли оперативку
del trade20
del trade21
del trade22

In [ ]:
# Джоиню данные за 2019 год, чтобы было потом на них нормировать
# Надо сделать джоин на country_codes!!!
trade = sql.execute('''select 
                tr.t
                , tr.i
                , tr.j
                , tr.category    
                , tr.v
                , tr.q             
                , t19.v as v19
                , t19.q as q19    
            from trade_tmp tr
            inner join trade19 t19
                on tr.i = t19.i
                and tr.j = t19.j
                and tr.k = t19.k
            ;''').collect()
sql.register('trade', trade)

In [12]:
trade.write_parquet('preprocessed_data/trade_hs6.parquet.gzip')

In [ ]:
# Агрегирую данные о торговле с разной гранулярностью гармонизированной системы
sql.execute('''select 
                t, i, j, left(category, 4) as category
                , sum(v) as v
                , sum(q) as q
                , sum(v19) as v19
                , sum(q19) as q19
            from trade
            group by 1, 2, 3, 4
            ;''').collect().write_parquet('preprocessed_data/trade_hs4.parquet.gzip')

In [15]:
sql.execute('''select 
                t, i, j, left(category, 2) as category
                , sum(v) as v
                , sum(q) as q
                , sum(v19) as v19
                , sum(q19) as q19
            from trade
            group by 1, 2, 3, 4
            ;''').collect().write_parquet('preprocessed_data/trade_hs2.parquet.gzip')

In [16]:
sql.execute('''select 
                t, i, j
                , sum(v) as v
                , sum(q) as q
                , sum(v19) as v19
                , sum(q19) as q19
            from trade
            group by 1, 2, 3
            ;''').collect().write_parquet('preprocessed_data/trade_hs0.parquet.gzip')

## Агрегирую заболеваемость и смертность

In [20]:
covid_tmp = pl.read_csv('raw_data/Our World In Data/owid-covid-data.csv')
sql.register('covid_tmp', covid_tmp)
sql.execute('''select * from covid_tmp limit 2;''').collect()

shape: (2, 67)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ iso_code ┆ continent ┆ location  ┆ date      ┆ … ┆ excess_mo ┆ excess_mo ┆ excess_mo ┆ excess_mo │
│ ---      ┆ ---       ┆ ---       ┆ ---       ┆   ┆ rtality_c ┆ rtality_c ┆ rtality   ┆ rtality_c │
│ str      ┆ str       ┆ str       ┆ str       ┆   ┆ umulative ┆ umulative ┆ ---       ┆ umulative │
│          ┆           ┆           ┆           ┆   ┆ _ab…      ┆ ---       ┆ str       ┆ _pe…      │
│          ┆           ┆           ┆           ┆   ┆ ---       ┆ str       ┆           ┆ ---       │
│          ┆           ┆           ┆           ┆   ┆ str       ┆           ┆           ┆ str       │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ AFG      ┆ Asia      ┆ Afghanist ┆ 2020-01-0 ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│          ┆           ┆ an        ┆ 5         ┆   ┆           ┆           ┆           ┆           │
│ AFG      ┆ Asia      ┆ Afghanist ┆ 2020-01-0 ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│          ┆           ┆ an        ┆ 6         ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [24]:
#Надо подумать, нет ли тут эндогенных пропусков (т.е. если у страны нулевая заболеваемость, значит ли это, что она ничего не репортит, а не репортит 0)
sql.execute('''create table covid as
    select 
            iso_code as country
            , left(date, 4)::smallint as t
            , avg(new_cases_per_million) as cases
            , avg(new_deaths_per_million) as deaths
            , avg(new_tests_per_thousand) as tests
            /*Лучше воспрользоваться данными ООН, чтобы точно использовать доковидные данные
            , avg(population_density) as population_density
            , avg(median_age) as median_age 
            , avg(aged_65_older) as aged_65_older
            , avg(aged_70_older) as aged_70_older
            , avg(cardiovasc_death_rate) as cardiovasc_death_rate
            , avg(handwashing_facilities) as handwashing_facilities
            , avg(life_expectancy) as life_expectancy */
    from covid_tmp
    where date <= '2022-12-31'
    group by iso_code, left(date, 4)        
;''')
sql.execute('''select * from covid limit 2;''').collect()

shape: (2, 5)
┌─────────┬──────┬────────────┬──────────┬───────┐
│ country ┆ t    ┆ cases      ┆ deaths   ┆ tests │
│ ---     ┆ ---  ┆ ---        ┆ ---      ┆ ---   │
│ str     ┆ i16  ┆ f64        ┆ f64      ┆ str   │
╞═════════╪══════╪════════════╪══════════╪═══════╡
│ ALB     ┆ 2021 ┆ 147.121425 ┆ 1.989123 ┆ null  │
│ MDV     ┆ 2022 ┆ 474.714493 ┆ 0.261452 ┆ null  │
└─────────┴──────┴────────────┴──────────┴───────┘

## Агрегирую коронавирусные ограничения

In [27]:
restrictions_tmp = pl.read_csv('raw_data/OxCGRT/OxCGRT_compact_national_v1.csv')
sql.register('restrictions_tmp', restrictions_tmp)
sql.execute('''select * from restrictions_tmp 
            -- where `E3_Fiscal measures` is not null and `E3_Fiscal measures` > 0 
            limit 2;''').collect()

shape: (2, 56)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ CountryNa ┆ CountryCo ┆ RegionNam ┆ RegionCod ┆ … ┆ Stringenc ┆ Governmen ┆ Containme ┆ Economic │
│ me        ┆ de        ┆ e         ┆ e         ┆   ┆ yIndex_Av ┆ tResponse ┆ ntHealthI ┆ SupportI │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ erage     ┆ Index_Ave ┆ ndex_Aver ┆ ndex     │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ ---       ┆ rag…      ┆ age       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆ ---       ┆ ---       ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆           ┆ f64       ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Aruba     ┆ ABW       ┆ null      ┆ null      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ Aruba     ┆ ABW       ┆ null      ┆ null      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [29]:
sql.execute('''create table restrictions as
    select CountryCode as country
            , left(Date::varchar, 4)::smallint as t
            , avg(`C8EV_International travel controls`)::float4 as C8EV_International_travel_controls
            , avg(`E1_Income support`)::float4 as E1_Income_support
            , avg(`E2_Debt/contract relief`)::float4 as E2_Debt_contract_relief
            , avg(`E3_Fiscal measures`)::float4 as E3_Fiscal_measures
            , avg(`E4_International support`)::float4 as E4_International_support
            , avg(`H6M_Facial Coverings`)::float4 as H6M_Facial_Coverings
            , avg(`StringencyIndex_Average`)::float4 as StringencyIndex_Average
            , avg(`GovernmentResponseIndex_Average`)::float4 as GovernmentResponseIndex_Average
            , avg(`ContainmentHealthIndex_Average`)::float4 as ContainmentHealthIndex_Average
            , avg(`EconomicSupportIndex`)::float4 as EconomicSupportIndex
    from restrictions_tmp
    group by CountryCode, left(Date::varchar, 4)::smallint           
;''')
sql.execute('''select * from restrictions limit 10;''').collect()

shape: (10, 12)
┌─────────┬──────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ country ┆ t    ┆ C8EV_Inter ┆ E1_Income_ ┆ … ┆ Stringency ┆ Government ┆ Containmen ┆ EconomicSu │
│ ---     ┆ ---  ┆ national_t ┆ support    ┆   ┆ Index_Aver ┆ ResponseIn ┆ tHealthInd ┆ pportIndex │
│ str     ┆ i16  ┆ ravel_cont ┆ ---        ┆   ┆ age        ┆ dex_Averag ┆ ex_Average ┆ ---        │
│         ┆      ┆ …          ┆ f32        ┆   ┆ ---        ┆ …          ┆ ---        ┆ f32        │
│         ┆      ┆ ---        ┆            ┆   ┆ f32        ┆ ---        ┆ f32        ┆            │
│         ┆      ┆ f32        ┆            ┆   ┆            ┆ f32        ┆            ┆            │
╞═════════╪══════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ ERI     ┆ 2020 ┆ 2.704918   ┆ 0.0        ┆ … ┆ 68.366997  ┆ 48.218414  ┆ 52.353497  ┆ 19.262295  │
│ UGA     ┆ 2020 ┆ 2.311476   ┆ 0.0        ┆ … ┆ 62.574646  ┆ 51.545574  ┆ 55.05418   ┆ 26.980875  │
│ EST     ┆ 2021 ┆ 1.049315   ┆ 0.657534   ┆ … ┆ 38.122658  ┆ 43.777233  ┆ 45.461533  ┆ 31.986301  │
│ RWA     ┆ 2021 ┆ 1.761644   ┆ 0.665753   ┆ … ┆ 60.956573  ┆ 61.267204  ┆ 64.076408  ┆ 41.609589  │
│ MYS     ┆ 2021 ┆ 2.789041   ┆ 1.0        ┆ … ┆ 70.620682  ┆ 73.066383  ┆ 72.82019   ┆ 74.794518  │
│ ARE     ┆ 2022 ┆ 1.109589   ┆ 0.0        ┆ … ┆ 31.200302  ┆ 40.630329  ┆ 46.437973  ┆ 0.0        │
│ SSD     ┆ 2021 ┆ 1.652055   ┆ 0.326027   ┆ … ┆ 45.307178  ┆ 41.671341  ┆ 46.461479  ┆ 8.150685   │
│ AGO     ┆ 2022 ┆ 1.441096   ┆ 0.731507   ┆ … ┆ 37.656849  ┆ 41.23518   ┆ 44.512985  ┆ 18.287672  │
│ IDN     ┆ 2022 ┆ 1.265753   ┆ 1.528767   ┆ … ┆ 39.671341  ┆ 52.541042  ┆ 50.16452   ┆ 69.178085  │
│ SVK     ┆ 2022 ┆ 0.260274   ┆ 1.20548    ┆ … ┆ 18.463041  ┆ 37.279205  ┆ 34.246685  ┆ 58.493149  │
└─────────┴──────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

## Агрегирую инструментальные переменные

In [30]:
temperature_tmp = pl.read_csv('raw_data/Our World In Data/average-monthly-surface-temperature.csv')
sql.register('temperature_tmp', temperature_tmp)
sql.execute('''select * from temperature_tmp limit 2;''').collect()

shape: (2, 6)
┌─────────────┬──────┬──────┬────────────┬─────────────────┬─────────────────────────────────┐
│ Entity      ┆ Code ┆ year ┆ Day        ┆ Average surface ┆ Average surface temperature_du… │
│ ---         ┆ ---  ┆ ---  ┆ ---        ┆ temperature     ┆ ---                             │
│ str         ┆ str  ┆ i64  ┆ str        ┆ ---             ┆ f64                             │
│             ┆      ┆      ┆            ┆ f64             ┆                                 │
╞═════════════╪══════╪══════╪════════════╪═════════════════╪═════════════════════════════════╡
│ Afghanistan ┆ AFG  ┆ 1940 ┆ 1940-01-15 ┆ -2.032494       ┆ 11.327695                       │
│ Afghanistan ┆ AFG  ┆ 1940 ┆ 1940-02-15 ┆ -0.733503       ┆ 11.327695                       │
└─────────────┴──────┴──────┴────────────┴─────────────────┴─────────────────────────────────┘

In [34]:
sql.execute('''create table temperature as
    select 
            Code as country
            , avg(`Average surface temperature`) as average_surface_temperature
    from temperature_tmp
    where year >= 2000 and year <= 2019
    group by Code               
;''')
sql.execute('''select * from temperature limit 2;''').collect()

shape: (2, 2)
┌─────────┬─────────────────────────────┐
│ country ┆ average_surface_temperature │
│ ---     ┆ ---                         │
│ str     ┆ f64                         │
╞═════════╪═════════════════════════════╡
│ HMD     ┆ 1.65656                     │
│ TUN     ┆ 20.447676                   │
└─────────┴─────────────────────────────┘

In [26]:
median_age_tmp = pl.read_excel('raw_data/United Nations/WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.xlsx')
sql.register('median_age_tmp', median_age_tmp)
sql.execute('''select * from median_age_tmp where `ISO3 Alpha-code` <> '' limit 2;''').collect()

Could not determine dtype for column 5, falling back to string
Could not determine dtype for column 6, falling back to string

shape: (2, 65)
┌───────┬───────────┬─────────────┬───────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ Index ┆ Variant   ┆ Region,     ┆ Notes ┆ … ┆ Male        ┆ Female     ┆ Net Number ┆ Net        │
│ ---   ┆ ---       ┆ subregion,  ┆ ---   ┆   ┆ Mortality   ┆ Mortality  ┆ of         ┆ Migration  │
│ i64   ┆ str       ┆ country or  ┆ str   ┆   ┆ between Age ┆ between    ┆ Migrants   ┆ Rate (per  │
│       ┆           ┆ …           ┆       ┆   ┆ 15 …        ┆ Age 1…     ┆ (thousa…   ┆ 1,000 …    │
│       ┆           ┆ ---         ┆       ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│       ┆           ┆ str         ┆       ┆   ┆ str         ┆ str        ┆ str        ┆ str        │
╞═══════╪═══════════╪═════════════╪═══════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 2595  ┆ Estimates ┆ Burundi     ┆       ┆ … ┆ 454.751     ┆ 395.92     ┆ -13.334    ┆ -5.913     │
│ 2596  ┆ Estimates ┆ Burundi     ┆       ┆ … ┆ 453.082     ┆ 391.799    ┆ -13.202    ┆ -5.726     │
└───────┴───────────┴─────────────┴───────┴───┴─────────────┴────────────┴────────────┴────────────┘

In [32]:
sql.execute('''create table median_age_table as
    select distinct on(country)
            `ISO3 Alpha-code` as country
            , Year as year
            , `Median Age, as of 1 July (years)`::float4 as median_age
    from median_age_tmp
    where `ISO3 Alpha-code` <> '' 
            and Year <= 2019       
    order by year desc        
;''')
sql.execute('''select * from median_age_table order by 3 desc limit 10;''').collect()

shape: (10, 3)
┌─────────┬──────┬────────────┐
│ country ┆ year ┆ median_age │
│ ---     ┆ ---  ┆ ---        │
│ str     ┆ i64  ┆ f32        │
╞═════════╪══════╪════════════╡
│ VAT     ┆ 2019 ┆ 60.292     │
│ MCO     ┆ 2019 ┆ 54.641998  │
│ SHN     ┆ 2019 ┆ 48.547001  │
│ JPN     ┆ 2019 ┆ 47.262001  │
│ MTQ     ┆ 2019 ┆ 47.029999  │
│ ITA     ┆ 2019 ┆ 45.998001  │
│ SMR     ┆ 2019 ┆ 45.332001  │
│ DEU     ┆ 2019 ┆ 44.903999  │
│ IMN     ┆ 2019 ┆ 44.831001  │
│ PRT     ┆ 2019 ┆ 44.604     │
└─────────┴──────┴────────────┘

In [36]:
SARS_table = pl.read_excel('raw_data/WHO/SARS.xlsx')
sql.register('SARS_table', SARS_table)
sql.execute('''select * from SARS_table limit 2;''').collect()

shape: (2, 12)
┌───────────┬──────┬────────┬──────┬───┬───────────┬───────────────┬───────────────┬───────────────┐
│ Areas     ┆ iso3 ┆ Female ┆ Male ┆ … ┆ Number of ┆ Number of HCW ┆ Date onset    ┆ Date onset    │
│ ---       ┆ ---  ┆ ---    ┆ ---  ┆   ┆ imported  ┆ affected (%)  ┆ first         ┆ last probable │
│ str       ┆ str  ┆ i64    ┆ i64  ┆   ┆ cases (%) ┆ ---           ┆ probable case ┆ case          │
│           ┆      ┆        ┆      ┆   ┆ ---       ┆ str           ┆ ---           ┆ ---           │
│           ┆      ┆        ┆      ┆   ┆ str       ┆               ┆ str           ┆ str           │
╞═══════════╪══════╪════════╪══════╪═══╪═══════════╪═══════════════╪═══════════════╪═══════════════╡
│ Australia ┆ AUT  ┆ 4      ┆ 2    ┆ … ┆ 6 (100)   ┆ 0 (0)         ┆ 26-Feb-03     ┆ 1-Apr-03      │
│ Canada    ┆ CAN  ┆ 151    ┆ 100  ┆ … ┆ 5 (2)     ┆ 109 (43)      ┆ 23-Feb-03     ┆ 12-Jun-03     │
└───────────┴──────┴────────┴──────┴───┴───────────┴───────────────┴───────────────┴───────────────┘

In [40]:
density_and_mortality_tmp = pl.read_csv('raw_data/World Bank/pop_dens_and_mortality.csv')
sql.register('density_and_mortality_tmp', density_and_mortality_tmp)
sql.execute('''select * from density_and_mortality_tmp limit 2;''').collect()

shape: (2, 16)
┌──────┬───────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ Time ┆ Time Code ┆ Country    ┆ Country    ┆ … ┆ Mortality  ┆ Mortality  ┆ Populatio ┆ Populatio │
│ ---  ┆ ---       ┆ Name       ┆ Code       ┆   ┆ rate,      ┆ rate,      ┆ n in the  ┆ n in      │
│ i64  ┆ str       ┆ ---        ┆ ---        ┆   ┆ adult,     ┆ infant     ┆ largest   ┆ urban agg │
│      ┆           ┆ str        ┆ str        ┆   ┆ male (p…   ┆ (per 1,…   ┆ city…     ┆ lomerat…  │
│      ┆           ┆            ┆            ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
│      ┆           ┆            ┆            ┆   ┆ f64        ┆ f64        ┆ f64       ┆ f64       │
╞══════╪═══════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 1990 ┆ YR1990    ┆ Afghanista ┆ AFG        ┆ … ┆ 510.052    ┆ 122.5      ┆ 60.735996 ┆ 12.86206  │
│      ┆           ┆ n          ┆            ┆   ┆            ┆            ┆           ┆           │
│ 1990 ┆ YR1990    ┆ Albania    ┆ ALB        ┆ … ┆ 127.21     ┆ 35.2       ┆ 20.653647 ┆ null      │
└──────┴───────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [60]:
sql.execute('''create table density_and_mortality as
    select distinct on(country)
            `Country Code` as country
            , Time as year
            , `Population density (people per sq. km of land area) [EN.POP.DNST]` population_density
            , `Population, female (% of total population) [SP.POP.TOTL.FE.ZS]` female_ratio
            , `Maternal mortality ratio (national estimate, per 100,000 live births) [SH.STA.MMRT.NE]`::float4 maternal_mortality
            , `Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%) [SH.DYN.NCOM.ZS]`::float4 cvd_mortality
            , `Mortality rate attributed to household and ambient air pollution, age-standardized (per 100,000 population) [SH.STA.AIRP.P5]`::float4 pollution_mortality
            , `Mortality rate attributed to unintentional poisoning (per 100,000 population) [SH.STA.POIS.P5]`::float4 poisoning_mortality 
            , `Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population) [SH.STA.WASH.P5]`::float4 hygiene_mortality
            , `Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]`::float4 female_mortality
            , `Mortality rate, adult, male (per 1,000 male adults) [SP.DYN.AMRT.MA]`::float4 male_mortality
            , `Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]`::float4 infant_mortality
            , `Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS]`::float4 largest_city_share
            , `Population in urban agglomerations of more than 1 million (% of total population) [EN.URB.MCTY.TL.ZS]`::float4 urbanization 
    from density_and_mortality_tmp
    where Time <= 2019        
    order by country, year desc
;''')
sql.execute('''select * from density_and_mortality order by female_ratio limit 10;''').collect()

shape: (10, 14)
┌─────────┬──────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ country ┆ year ┆ population ┆ female_rat ┆ … ┆ male_morta ┆ infant_mor ┆ largest_ci ┆ urbanizati │
│ ---     ┆ ---  ┆ _density   ┆ io         ┆   ┆ lity       ┆ tality     ┆ ty_share   ┆ on         │
│ str     ┆ i64  ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│         ┆      ┆ f64        ┆ f64        ┆   ┆ f32        ┆ f32        ┆ f32        ┆ f32        │
╞═════════╪══════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ QAT     ┆ 2019 ┆ 229.648129 ┆ 26.710807  ┆ … ┆ 46.422001  ┆ 5.3        ┆ 27.357042  ┆ null       │
│ ARE     ┆ 2019 ┆ 133.00176  ┆ 35.48185   ┆ … ┆ 68.244003  ┆ 5.0        ┆ 34.558586  ┆ 62.610657  │
│ OMN     ┆ 2019 ┆ 14.834381  ┆ 36.346578  ┆ … ┆ 76.462997  ┆ 9.3        ┆ 38.278755  ┆ 32.706516  │
│ BHR     ┆ 2019 ┆ 1902.25128 ┆ 37.517391  ┆ … ┆ 58.199001  ┆ 6.0        ┆ 45.268242  ┆ null       │
│         ┆      ┆ 2          ┆            ┆   ┆            ┆            ┆            ┆            │
│ KWT     ┆ 2019 ┆ 249.288215 ┆ 38.318484  ┆ … ┆ 59.479     ┆ 7.5        ┆ 68.713997  ┆ 68.713997  │
│ SAU     ┆ 2019 ┆ 13.985179  ┆ 38.831635  ┆ … ┆ 100.896004 ┆ 6.2        ┆ 27.977003  ┆ 54.159729  │
│ MDV     ┆ 2019 ┆ 1625.77    ┆ 38.838087  ┆ … ┆ 56.172001  ┆ 6.0        ┆ null       ┆ null       │
│ SYC     ┆ 2019 ┆ 212.228261 ┆ 45.395279  ┆ … ┆ 188.007996 ┆ 12.8       ┆ null       ┆ null       │
│ PLW     ┆ 2019 ┆ 38.691304  ┆ 45.982695  ┆ … ┆ null       ┆ 22.9       ┆ null       ┆ null       │
│ BTN     ┆ 2019 ┆ 20.053068  ┆ 46.280129  ┆ … ┆ 158.171997 ┆ 22.1       ┆ null       ┆ null       │
└─────────┴──────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

## Переменные, которые не входят в первый приоритет

In [72]:
household_size_tmp = pl.read_excel('raw_data/United Nations/undesa_pd_2022_hh-size-composition.xlsx')
sql.register('household_size_tmp', household_size_tmp)
sql.execute('''select * from household_size_tmp limit 2;''').collect()

Could not determine dtype for column 9, falling back to string
Could not determine dtype for column 10, falling back to string

shape: (2, 9)
┌────────────┬──────────┬───────────┬───────────┬───┬──────────┬───────────┬───────────┬───────────┐
│ Country or ┆ ISO Code ┆ Data      ┆ Reference ┆ … ┆ 1 member ┆ 2-3       ┆ 4-5       ┆ 6 or more │
│ area       ┆ ---      ┆ source    ┆ date (dd/ ┆   ┆ ---      ┆ members   ┆ members   ┆ members   │
│ ---        ┆ i64      ┆ category  ┆ mm/yyyy)  ┆   ┆ f64      ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆          ┆ ---       ┆ ---       ┆   ┆          ┆ f64       ┆ f64       ┆ f64       │
│            ┆          ┆ str       ┆ str       ┆   ┆          ┆           ┆           ┆           │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════╪═══════════╪═══════════╡
│ Afghanista ┆ 4        ┆ MICS      ┆ 2010-01-0 ┆ … ┆ 0.15     ┆ 7.41      ┆ 18.59     ┆ 73.85     │
│ n          ┆          ┆           ┆ 7         ┆   ┆          ┆           ┆           ┆           │
│            ┆          ┆           ┆ 00:00:00  ┆   ┆          ┆           ┆           ┆           │
│ Afghanista ┆ 4        ┆ DHS       ┆ 19/10/201 ┆ … ┆ 0.19     ┆ 6.45      ┆ 16.84     ┆ 76.52     │
│ n          ┆          ┆           ┆ 5         ┆   ┆          ┆           ┆           ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴──────────┴───────────┴───────────┴───────────┘

In [73]:
sql.execute('''create table household_size as
            select distinct on(country)
                cc.country_iso3 as country
                , case when `Reference date (dd/mm/yyyy)` like '__/__/____' then right(`Reference date (dd/mm/yyyy)`, 4)
                    else left(`Reference date (dd/mm/yyyy)`, 4) end ::int as year 
                , `Average household size (number of members)`::float4 avg_hh_size
                , `1 member`::float4 as share_1_members
                , `2-3 members`::float4 as share_2_3_members
                , `4-5 members`::float4 as share_6plus_members
            from household_size_tmp hh
            inner join country_codes cc
                on hh.`ISO Code` = cc.country_code
            order by 1, 2 desc
;''')
sql.execute('''select * from household_size order by 3 desc limit 10;''').collect()

shape: (10, 6)
┌─────────┬──────┬─────────────┬─────────────────┬───────────────────┬─────────────────────┐
│ country ┆ year ┆ avg_hh_size ┆ share_1_members ┆ share_2_3_members ┆ share_6plus_members │
│ ---     ┆ ---  ┆ ---         ┆ ---             ┆ ---               ┆ ---                 │
│ str     ┆ i32  ┆ f32         ┆ f32             ┆ f32               ┆ f32                 │
╞═════════╪══════╪═════════════╪═════════════════╪═══════════════════╪═════════════════════╡
│ BGR     ┆ 2011 ┆ null        ┆ 30.790001       ┆ 48.59             ┆ 17.799999           │
│ BRN     ┆ 2011 ┆ null        ┆ 7.22            ┆ 19.82             ┆ 28.98               │
│ BWA     ┆ 2011 ┆ null        ┆ 27.76           ┆ 32.049999         ┆ 20.83               │
│ CHN     ┆ 2010 ┆ null        ┆ 14.53           ┆ 51.23             ┆ 27.6                │
│ COK     ┆ 2011 ┆ null        ┆ 17.93           ┆ 38.860001         ┆ 26.83               │
│ CYM     ┆ 2010 ┆ null        ┆ 32.57           ┆ 45.709999         ┆ 17.719999           │
│ IRN     ┆ 2016 ┆ null        ┆ 8.48            ┆ 49.130001         ┆ 37.860001           │
│ KNA     ┆ 2011 ┆ null        ┆ null            ┆ null              ┆ null                │
│ NCL     ┆ 2004 ┆ null        ┆ 17.450001       ┆ 38.669998         ┆ 28.23               │
│ PLW     ┆ 2005 ┆ null        ┆ 17.1            ┆ 32.48             ┆ 29.299999           │
└─────────┴──────┴─────────────┴─────────────────┴───────────────────┴─────────────────────┘

In [49]:
sql.execute('''select `Data source category`, count(*) from household_size_tmp group by 1;''').collect()

shape: (5, 2)
┌──────────────────────┬─────┐
│ Data source category ┆ len │
│ ---                  ┆ --- │
│ str                  ┆ u32 │
╞══════════════════════╪═════╡
│ MICS                 ┆ 203 │
│ LFS                  ┆ 47  │
│ DYB                  ┆ 207 │
│ IPUMS                ┆ 313 │
│ DHS                  ┆ 289 │
└──────────────────────┴─────┘