# Предобрабатываю данные (избавляюсь от дубликатов), агрегирую до года, соединяю таблицы

In [1]:
pip install -r requirements.txt

Requirement already satisfied: polars==1.22.0 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 1)) (1.22.0)
Requirement already satisfied: pandas==2.2.3 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: numpy==2.2 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 3)) (2.2.0)
Requirement already satisfied: plotly==6.0.0 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 4)) (6.0.0)
Requirement already satisfied: fastexcel in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from -r requirements.txt (line 5)) (0.12.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from plotly==6.0.0->-r requirements.txt (line 4)) (1.25.2)
Requirement already satisfied: packaging in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from plotly==6.0.0->-r requirements.txt (line 4)) (24.2)
Requirement already satisfied: pyarrow>=8.0.0 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from fastexcel->-r requirements.txt (line 5)) (19.0.0)
Requirement already satisfied: six>=1.5 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r requirements.txt (line 2)) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
cd ..

c:\Users\unstr\Documents\7 семестр работы\Диплом\thesis-repo\thesis\data

c:\Users\unstr\Documents\7 семестр работы\Диплом\thesis-repo\thesis\.venv\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import polars as pl

In [3]:
trade19 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2019_V202501.csv')
trade20 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2020_V202501.csv')
trade21 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2021_V202501.csv')
trade22 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2022_V202501.csv')
country_codes = pl.read_csv('./raw_data/BACI_HS17_V202501/country_codes_V202501.csv')
sql = pl.SQLContext(register_globals=True)

In [4]:
#Структура данных. t, i , j , k --- ключ.
sql.execute('''select * from trade19 limit 1;''').collect()

shape: (1, 6)
┌──────┬─────┬─────┬────────┬───────┬───────┐
│ t    ┆ i   ┆ j   ┆ k      ┆ v     ┆ q     │
│ ---  ┆ --- ┆ --- ┆ ---    ┆ ---   ┆ ---   │
│ i64  ┆ i64 ┆ i64 ┆ i64    ┆ f64   ┆ f64   │
╞══════╪═════╪═════╪════════╪═══════╪═══════╡
│ 2019 ┆ 4   ┆ 20  ┆ 420229 ┆ 0.471 ┆ 0.001 │
└──────┴─────┴─────┴────────┴───────┴───────┘

In [5]:
#Проверяю, что в данных нет дублей
print(sql.execute('''select i, j, k, count(*) as cnt from trade19 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade20 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade21 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade22 group by 1, 2, 3 order by 4 desc limit 1;''').collect())

shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 246 ┆ 458 ┆ 621149 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 170 ┆ 528 ┆ 620192 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 724 ┆ 251 ┆ 600192 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 764 ┆ 56  ┆ 551599 ┆ 1   │
└─────┴─────┴────────┴─────┘

In [4]:
# Меняю типы данных на более экономные, где это возможно, и объединяю таблицы для трёх лет
trade_tmp = sql.execute(''' 
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade20
            union all
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade21
            union all
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade22
            ;
            ''').collect()
sql.register('trade_tmp', trade_tmp)
sql.execute('''select count(*) from trade_tmp;''').collect()

shape: (1, 1)
┌──────────┐
│ len      │
│ ---      │
│ u32      │
╞══════════╡
│ 34145929 │
└──────────┘

In [5]:
# Удаляю лишние таблицы, чтобы не засоряли оперативку
import gc
del trade20
del trade21
del trade22
gc.collect()

23

In [6]:
# Джоиню данные за 2019 год, чтобы было потом на них нормировать
trade_tmp2 = sql.execute('''
            select 
                tr.t
                , tr.i
                , tr.j
                , tr.category    
                , tr.v
                , tr.q             
                , t19.v as v19
                , t19.q as q19    
            from trade_tmp tr
            inner join trade19 t19
                on tr.i = t19.i
                and tr.j = t19.j
                and tr.k = t19.k
            ;''').collect()
sql.register('trade_tmp2', trade_tmp2)
del trade19
del trade_tmp
gc.collect()

0

In [ ]:
# Материализовал тяжёлый запрос, чтобы больше не мучить компьютер
# trade_tmp2.write_parquet('preprocessed_data/trade_tmp2.parquet.gzip')

In [8]:
# Хотя в country_codes есть страны, у которых два типа country_code, но один iso3, это соответствует кейсам преемственности. 
# На интервале 2019 -- 2022 этого не возникает (т.е. можно считать, что iso3 --- PK)
sql.execute('''select country_iso3, count(*) from country_codes group by 1, order by 2 desc limit 4;''').collect()

shape: (4, 2)
┌──────────────┬─────┐
│ country_iso3 ┆ len │
│ ---          ┆ --- │
│ str          ┆ u32 │
╞══════════════╪═════╡
│ BEL          ┆ 2   │
│ DEU          ┆ 2   │
│ SDN          ┆ 2   │
│ KWT          ┆ 1   │
└──────────────┴─────┘

In [9]:
# У некоторых стран два country_code, но один iso3 код. Чтобы убрать дубли, группирую и суммирую
trade = sql.execute('''
    select 
        tr.t
        , cc_i.country_iso3 as i
        , cc_j.country_iso3 as j
        , tr.category    
        , v
        , q             
        , v19
        , q19
    from trade_tmp2 tr
    inner join country_codes cc_i
        on tr.i = cc_i.country_code 
    inner join country_codes cc_j
        on tr.j = cc_j.country_code                      
;''').collect()
sql.register('trade', trade)
sql.execute('''select * from trade limit 2;''').collect()

shape: (2, 8)
┌──────┬─────┬─────┬──────────┬───────┬───────┬───────┬───────┐
│ t    ┆ i   ┆ j   ┆ category ┆ v     ┆ q     ┆ v19   ┆ q19   │
│ ---  ┆ --- ┆ --- ┆ ---      ┆ ---   ┆ ---   ┆ ---   ┆ ---   │
│ i16  ┆ str ┆ str ┆ str      ┆ f32   ┆ f32   ┆ f64   ┆ f64   │
╞══════╪═════╪═════╪══════════╪═══════╪═══════╪═══════╪═══════╡
│ 2020 ┆ AFG ┆ AUS ┆ 080211   ┆ 2.456 ┆ 0.71  ┆ 6.944 ┆ 1.198 │
│ 2020 ┆ AFG ┆ AUS ┆ 080420   ┆ 1.398 ┆ 1.331 ┆ 0.87  ┆ 0.8   │
└──────┴─────┴─────┴──────────┴───────┴───────┴───────┴───────┘

In [10]:
trade.write_parquet('preprocessed_data/trade_hs6.parquet.gzip')

In [ ]:
# Агрегирую данные о торговле с разной гранулярностью гармонизированной системы
sql.execute('''
            select 
                t, i, j, left(category, 4) as category
                , sum(v) as v
                , sum(q) as q
                , sum(v19) as v19
                , sum(q19) as q19
            from trade
            group by 1, 2, 3, 4
            ;''').collect().write_parquet('preprocessed_data/trade_hs4.parquet.gzip')

In [12]:
sql.execute('''select 
                t, i, j, left(category, 2) as category
                , sum(v) as v
                , sum(q) as q
                , sum(v19) as v19
                , sum(q19) as q19
            from trade
            group by 1, 2, 3, 4
            ;''').collect().write_parquet('preprocessed_data/trade_hs2.parquet.gzip')

In [13]:
sql.execute('''select 
                t, i, j
                , sum(v) as v
                , sum(q) as q
                , sum(v19) as v19
                , sum(q19) as q19
            from trade
            group by 1, 2, 3
            ;''').collect().write_parquet('preprocessed_data/trade_hs0.parquet.gzip')

In [14]:
del trade_tmp2
del trade
gc.collect()

21

## Агрегирую заболеваемость и смертность

In [16]:
covid_tmp = pl.read_csv('raw_data/Our World In Data/owid-covid-data.csv')
sql.register('covid_tmp', covid_tmp)
sql.execute('''select * from covid_tmp limit 2;''').collect()

shape: (2, 67)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ iso_code ┆ continent ┆ location  ┆ date      ┆ … ┆ excess_mo ┆ excess_mo ┆ excess_mo ┆ excess_mo │
│ ---      ┆ ---       ┆ ---       ┆ ---       ┆   ┆ rtality_c ┆ rtality_c ┆ rtality   ┆ rtality_c │
│ str      ┆ str       ┆ str       ┆ str       ┆   ┆ umulative ┆ umulative ┆ ---       ┆ umulative │
│          ┆           ┆           ┆           ┆   ┆ _ab…      ┆ ---       ┆ str       ┆ _pe…      │
│          ┆           ┆           ┆           ┆   ┆ ---       ┆ str       ┆           ┆ ---       │
│          ┆           ┆           ┆           ┆   ┆ str       ┆           ┆           ┆ str       │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ AFG      ┆ Asia      ┆ Afghanist ┆ 2020-01-0 ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│          ┆           ┆ an        ┆ 5         ┆   ┆           ┆           ┆           ┆           │
│ AFG      ┆ Asia      ┆ Afghanist ┆ 2020-01-0 ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│          ┆           ┆ an        ┆ 6         ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [ ]:
# Надо подумать, нет ли тут эндогенных пропусков (т.е. если у страны нулевая заболеваемость,
#  значит ли это, что она ничего не репортит, а не репортит 0)
sql.execute('''create table covid as
    select 
        iso_code as country
        , left(date, 4)::smallint as t
        , avg(new_cases_per_million) as cases
        , avg(new_deaths_per_million) as deaths
        , avg(new_tests_per_thousand) as tests
        /*Лучше воспрользоваться данными ООН, чтобы точно использовать доковидные данные
        , avg(population_density) as population_density
        , avg(median_age) as median_age 
        , avg(aged_65_older) as aged_65_older
        , avg(aged_70_older) as aged_70_older
        , avg(cardiovasc_death_rate) as cardiovasc_death_rate
        , avg(handwashing_facilities) as handwashing_facilities
        , avg(life_expectancy) as life_expectancy */
    from covid_tmp
    where date <= '2022-12-31'
    group by iso_code, left(date, 4)        
;''')
sql.execute('''select * from covid limit 2;''').collect()

shape: (2, 5)
┌─────────┬──────┬────────────┬──────────┬───────┐
│ country ┆ t    ┆ cases      ┆ deaths   ┆ tests │
│ ---     ┆ ---  ┆ ---        ┆ ---      ┆ ---   │
│ str     ┆ i16  ┆ f64        ┆ f64      ┆ str   │
╞═════════╪══════╪════════════╪══════════╪═══════╡
│ AIA     ┆ 2022 ┆ 435.593671 ┆ 1.350329 ┆ null  │
│ LCA     ┆ 2020 ┆ 4.712348   ┆ 0.077265 ┆ null  │
└─────────┴──────┴────────────┴──────────┴───────┘

## Агрегирую коронавирусные ограничения

In [18]:
restrictions_tmp = pl.read_csv('raw_data/OxCGRT/OxCGRT_compact_national_v1.csv')
sql.register('restrictions_tmp', restrictions_tmp)
sql.execute('''select * from restrictions_tmp 
            -- where `E3_Fiscal measures` is not null and `E3_Fiscal measures` > 0 
            limit 2;''').collect()

shape: (2, 56)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ CountryNa ┆ CountryCo ┆ RegionNam ┆ RegionCod ┆ … ┆ Stringenc ┆ Governmen ┆ Containme ┆ Economic │
│ me        ┆ de        ┆ e         ┆ e         ┆   ┆ yIndex_Av ┆ tResponse ┆ ntHealthI ┆ SupportI │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ erage     ┆ Index_Ave ┆ ndex_Aver ┆ ndex     │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ ---       ┆ rag…      ┆ age       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆ ---       ┆ ---       ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆           ┆ f64       ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Aruba     ┆ ABW       ┆ null      ┆ null      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ Aruba     ┆ ABW       ┆ null      ┆ null      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
sql.execute('''create table restrictions as
    select 
        CountryCode as country
        , left(Date::varchar, 4)::smallint as t
        , avg(`C8EV_International travel controls`)::float4 as C8EV_International_travel_controls
        , avg(`E1_Income support`)::float4 as E1_Income_support
        , avg(`E2_Debt/contract relief`)::float4 as E2_Debt_contract_relief
        , avg(`E3_Fiscal measures`)::float4 as E3_Fiscal_measures
        , avg(`E4_International support`)::float4 as E4_International_support
        , avg(`H6M_Facial Coverings`)::float4 as H6M_Facial_Coverings
        , avg(`StringencyIndex_Average`)::float4 as StringencyIndex_Average
        , avg(`GovernmentResponseIndex_Average`)::float4 as GovernmentResponseIndex_Average
        , avg(`ContainmentHealthIndex_Average`)::float4 as ContainmentHealthIndex_Average
        , avg(`EconomicSupportIndex`)::float4 as EconomicSupportIndex
    from restrictions_tmp
    group by CountryCode, left(Date::varchar, 4)::smallint           
;''')
sql.execute('''select * from restrictions limit 10;''').collect()

shape: (10, 12)
┌─────────┬──────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ country ┆ t    ┆ C8EV_Inter ┆ E1_Income_ ┆ … ┆ Stringency ┆ Government ┆ Containmen ┆ EconomicSu │
│ ---     ┆ ---  ┆ national_t ┆ support    ┆   ┆ Index_Aver ┆ ResponseIn ┆ tHealthInd ┆ pportIndex │
│ str     ┆ i16  ┆ ravel_cont ┆ ---        ┆   ┆ age        ┆ dex_Averag ┆ ex_Average ┆ ---        │
│         ┆      ┆ …          ┆ f32        ┆   ┆ ---        ┆ …          ┆ ---        ┆ f32        │
│         ┆      ┆ ---        ┆            ┆   ┆ f32        ┆ ---        ┆ f32        ┆            │
│         ┆      ┆ f32        ┆            ┆   ┆            ┆ f32        ┆            ┆            │
╞═════════╪══════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ SOM     ┆ 2021 ┆ 1.328767   ┆ 0.0        ┆ … ┆ 35.55463   ┆ 40.044685  ┆ 42.891125  ┆ 20.136986  │
│ IRQ     ┆ 2020 ┆ 2.407104   ┆ 0.625683   ┆ … ┆ 64.680519  ┆ 53.440929  ┆ 56.606529  ┆ 31.284153  │
│ AFG     ┆ 2020 ┆ 1.461749   ┆ 0.0        ┆ … ┆ 41.487267  ┆ 33.816692  ┆ 38.345192  ┆ 2.117486   │
│ KOR     ┆ 2021 ┆ 2.435616   ┆ 1.0        ┆ … ┆ 51.278656  ┆ 56.760632  ┆ 61.298466  ┆ 25.0       │
│ TLS     ┆ 2020 ┆ 3.10929    ┆ 1.065574   ┆ … ┆ 31.876421  ┆ 35.320518  ┆ 34.490601  ┆ 41.12022   │
│ BMU     ┆ 2022 ┆ 0.868493   ┆ 0.805479   ┆ … ┆ 23.291725  ┆ 42.869781  ┆ 40.366932  ┆ 60.410957  │
│ PSE     ┆ 2020 ┆ 3.295082   ┆ 0.0        ┆ … ┆ 66.277298  ┆ 47.251995  ┆ 50.372894  ┆ 25.409836  │
│ DOM     ┆ 2022 ┆ 0.306849   ┆ 0.0        ┆ … ┆ 11.384027  ┆ 23.000219  ┆ 26.289343  ┆ 0.0        │
│ KEN     ┆ 2020 ┆ 2.322404   ┆ 0.540984   ┆ … ┆ 58.033062  ┆ 48.092949  ┆ 50.72858   ┆ 29.644808  │
│ MDA     ┆ 2021 ┆ 1.879452   ┆ 1.0        ┆ … ┆ 53.748219  ┆ 54.892796  ┆ 57.378521  ┆ 37.5       │
└─────────┴──────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

## Агрегирую инструментальные переменные

In [20]:
temperature_tmp = pl.read_csv('raw_data/Our World In Data/average-monthly-surface-temperature.csv')
sql.register('temperature_tmp', temperature_tmp)
sql.execute('''select * from temperature_tmp limit 2;''').collect()

shape: (2, 6)
┌─────────────┬──────┬──────┬────────────┬─────────────────┬─────────────────────────────────┐
│ Entity      ┆ Code ┆ year ┆ Day        ┆ Average surface ┆ Average surface temperature_du… │
│ ---         ┆ ---  ┆ ---  ┆ ---        ┆ temperature     ┆ ---                             │
│ str         ┆ str  ┆ i64  ┆ str        ┆ ---             ┆ f64                             │
│             ┆      ┆      ┆            ┆ f64             ┆                                 │
╞═════════════╪══════╪══════╪════════════╪═════════════════╪═════════════════════════════════╡
│ Afghanistan ┆ AFG  ┆ 1940 ┆ 1940-01-15 ┆ -2.032494       ┆ 11.327695                       │
│ Afghanistan ┆ AFG  ┆ 1940 ┆ 1940-02-15 ┆ -0.733503       ┆ 11.327695                       │
└─────────────┴──────┴──────┴────────────┴─────────────────┴─────────────────────────────────┘

In [ ]:
sql.execute('''create table temperature as
    select 
        Code as country
        , avg(`Average surface temperature`) as average_surface_temperature
    from temperature_tmp
    where year >= 2000 and year <= 2019
    group by Code               
;''')
sql.execute('''select * from temperature limit 2;''').collect()

shape: (2, 2)
┌─────────┬─────────────────────────────┐
│ country ┆ average_surface_temperature │
│ ---     ┆ ---                         │
│ str     ┆ f64                         │
╞═════════╪═════════════════════════════╡
│ COK     ┆ 24.407138                   │
│ HMD     ┆ 1.65656                     │
└─────────┴─────────────────────────────┘

In [22]:
median_age_tmp = pl.read_excel('raw_data/United Nations/WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.xlsx')
sql.register('median_age_tmp', median_age_tmp)
sql.execute('''select * from median_age_tmp where `ISO3 Alpha-code` <> '' limit 2;''').collect()

Could not determine dtype for column 5, falling back to string
Could not determine dtype for column 6, falling back to string

shape: (2, 65)
┌───────┬───────────┬─────────────┬───────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ Index ┆ Variant   ┆ Region,     ┆ Notes ┆ … ┆ Male        ┆ Female     ┆ Net Number ┆ Net        │
│ ---   ┆ ---       ┆ subregion,  ┆ ---   ┆   ┆ Mortality   ┆ Mortality  ┆ of         ┆ Migration  │
│ i64   ┆ str       ┆ country or  ┆ str   ┆   ┆ between Age ┆ between    ┆ Migrants   ┆ Rate (per  │
│       ┆           ┆ …           ┆       ┆   ┆ 15 …        ┆ Age 1…     ┆ (thousa…   ┆ 1,000 …    │
│       ┆           ┆ ---         ┆       ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│       ┆           ┆ str         ┆       ┆   ┆ str         ┆ str        ┆ str        ┆ str        │
╞═══════╪═══════════╪═════════════╪═══════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 2595  ┆ Estimates ┆ Burundi     ┆       ┆ … ┆ 454.751     ┆ 395.92     ┆ -13.334    ┆ -5.913     │
│ 2596  ┆ Estimates ┆ Burundi     ┆       ┆ … ┆ 453.082     ┆ 391.799    ┆ -13.202    ┆ -5.726     │
└───────┴───────────┴─────────────┴───────┴───┴─────────────┴────────────┴────────────┴────────────┘

In [ ]:
sql.execute('''create table median_age_table as
    select country, median_age
    from (         
    select distinct on(country)
        `ISO3 Alpha-code` as country
        , Year as year
        , `Median Age, as of 1 July (years)`::float4 as median_age
    from median_age_tmp
    where `ISO3 Alpha-code` <> '' 
            and Year <= 2019       
    order by country, year desc 
            ) sub       
;''')
sql.execute('''select * from median_age_table order by 2 desc limit 10;''').collect()

shape: (10, 2)
┌─────────┬────────────┐
│ country ┆ median_age │
│ ---     ┆ ---        │
│ str     ┆ f32        │
╞═════════╪════════════╡
│ VAT     ┆ 60.292     │
│ MCO     ┆ 54.641998  │
│ SHN     ┆ 48.547001  │
│ JPN     ┆ 47.262001  │
│ MTQ     ┆ 47.029999  │
│ ITA     ┆ 45.998001  │
│ SMR     ┆ 45.332001  │
│ DEU     ┆ 44.903999  │
│ IMN     ┆ 44.831001  │
│ PRT     ┆ 44.604     │
└─────────┴────────────┘

In [62]:
SARS_table = pl.read_excel('raw_data/WHO/SARS.xlsx')
sql.register('SARS_table', sql.execute('''select iso3 as country, Total as SARS_total_cases from SARS_table;''').collect())
sql.execute('''select * from SARS_table limit 2;''').collect()

shape: (2, 2)
┌─────────┬──────────────────┐
│ country ┆ SARS_total_cases │
│ ---     ┆ ---              │
│ str     ┆ i64              │
╞═════════╪══════════════════╡
│ AUT     ┆ 6                │
│ CAN     ┆ 251              │
└─────────┴──────────────────┘

In [25]:
density_and_mortality_tmp = pl.read_csv('raw_data/World Bank/pop_dens_and_mortality.csv')
sql.register('density_and_mortality_tmp', density_and_mortality_tmp)
sql.execute('''select * from density_and_mortality_tmp limit 2;''').collect()

shape: (2, 16)
┌──────┬───────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ Time ┆ Time Code ┆ Country    ┆ Country    ┆ … ┆ Mortality  ┆ Mortality  ┆ Populatio ┆ Populatio │
│ ---  ┆ ---       ┆ Name       ┆ Code       ┆   ┆ rate,      ┆ rate,      ┆ n in the  ┆ n in      │
│ i64  ┆ str       ┆ ---        ┆ ---        ┆   ┆ adult,     ┆ infant     ┆ largest   ┆ urban agg │
│      ┆           ┆ str        ┆ str        ┆   ┆ male (p…   ┆ (per 1,…   ┆ city…     ┆ lomerat…  │
│      ┆           ┆            ┆            ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
│      ┆           ┆            ┆            ┆   ┆ f64        ┆ f64        ┆ f64       ┆ f64       │
╞══════╪═══════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 1990 ┆ YR1990    ┆ Afghanista ┆ AFG        ┆ … ┆ 510.052    ┆ 122.5      ┆ 60.735996 ┆ 12.86206  │
│      ┆           ┆ n          ┆            ┆   ┆            ┆            ┆           ┆           │
│ 1990 ┆ YR1990    ┆ Albania    ┆ ALB        ┆ … ┆ 127.21     ┆ 35.2       ┆ 20.653647 ┆ null      │
└──────┴───────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [ ]:
sql.execute('''create table density_and_mortality as
    select country, population_density, female_ratio, maternal_mortality
            , cvd_mortality, pollution_mortality, poisoning_mortality
            , hygiene_mortality, female_mortality, male_mortality
            , infant_mortality, largest_city_share, urbanization
    from (        
    select distinct on(country)
        `Country Code` as country
        , Time as year
        , `Population density (people per sq. km of land area) [EN.POP.DNST]` population_density
        , `Population, female (% of total population) [SP.POP.TOTL.FE.ZS]` female_ratio
        , `Maternal mortality ratio (national estimate, per 100,000 live births) [SH.STA.MMRT.NE]`::float4 maternal_mortality
        , `Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%) [SH.DYN.NCOM.ZS]`::float4 cvd_mortality
        , `Mortality rate attributed to household and ambient air pollution, age-standardized (per 100,000 population) [SH.STA.AIRP.P5]`::float4 pollution_mortality
        , `Mortality rate attributed to unintentional poisoning (per 100,000 population) [SH.STA.POIS.P5]`::float4 poisoning_mortality 
        , `Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population) [SH.STA.WASH.P5]`::float4 hygiene_mortality
        , `Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]`::float4 female_mortality
        , `Mortality rate, adult, male (per 1,000 male adults) [SP.DYN.AMRT.MA]`::float4 male_mortality
        , `Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]`::float4 infant_mortality
        , `Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS]`::float4 largest_city_share
        , `Population in urban agglomerations of more than 1 million (% of total population) [EN.URB.MCTY.TL.ZS]`::float4 urbanization 
    from density_and_mortality_tmp
    where Time <= 2019        
    order by country, year desc
    ) sub        
;''')
sql.execute('''select * from density_and_mortality order by female_ratio limit 10;''').collect()

shape: (10, 13)
┌─────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ country ┆ population ┆ female_ra ┆ maternal_ ┆ … ┆ male_mort ┆ infant_mo ┆ largest_c ┆ urbanizat │
│ ---     ┆ _density   ┆ tio       ┆ mortality ┆   ┆ ality     ┆ rtality   ┆ ity_share ┆ ion       │
│ str     ┆ ---        ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│         ┆ f64        ┆ f64       ┆ f32       ┆   ┆ f32       ┆ f32       ┆ f32       ┆ f32       │
╞═════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ QAT     ┆ 229.648129 ┆ 26.710807 ┆ null      ┆ … ┆ 46.422001 ┆ 5.3       ┆ 27.357042 ┆ null      │
│ ARE     ┆ 133.00176  ┆ 35.48185  ┆ null      ┆ … ┆ 68.244003 ┆ 5.0       ┆ 34.558586 ┆ 62.610657 │
│ OMN     ┆ 14.834381  ┆ 36.346578 ┆ null      ┆ … ┆ 76.462997 ┆ 9.3       ┆ 38.278755 ┆ 32.706516 │
│ BHR     ┆ 1902.25128 ┆ 37.517391 ┆ null      ┆ … ┆ 58.199001 ┆ 6.0       ┆ 45.268242 ┆ null      │
│         ┆ 2          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ KWT     ┆ 249.288215 ┆ 38.318484 ┆ null      ┆ … ┆ 59.479    ┆ 7.5       ┆ 68.713997 ┆ 68.713997 │
│ SAU     ┆ 13.985179  ┆ 38.831635 ┆ null      ┆ … ┆ 100.89600 ┆ 6.2       ┆ 27.977003 ┆ 54.159729 │
│         ┆            ┆           ┆           ┆   ┆ 4         ┆           ┆           ┆           │
│ MDV     ┆ 1625.77    ┆ 38.838087 ┆ null      ┆ … ┆ 56.172001 ┆ 6.0       ┆ null      ┆ null      │
│ SYC     ┆ 212.228261 ┆ 45.395279 ┆ null      ┆ … ┆ 188.00799 ┆ 12.8      ┆ null      ┆ null      │
│         ┆            ┆           ┆           ┆   ┆ 6         ┆           ┆           ┆           │
│ PLW     ┆ 38.691304  ┆ 45.982695 ┆ null      ┆ … ┆ null      ┆ 22.9      ┆ null      ┆ null      │
│ BTN     ┆ 20.053068  ┆ 46.280129 ┆ null      ┆ … ┆ 158.17199 ┆ 22.1      ┆ null      ┆ null      │
│         ┆            ┆           ┆           ┆   ┆ 7         ┆           ┆           ┆           │
└─────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## Переменные, которые не входят в первый приоритет

In [27]:
household_size_tmp = pl.read_excel('raw_data/United Nations/undesa_pd_2022_hh-size-composition.xlsx')
sql.register('household_size_tmp', household_size_tmp)
sql.execute('''select * from household_size_tmp limit 2;''').collect()

Could not determine dtype for column 9, falling back to string
Could not determine dtype for column 10, falling back to string

shape: (2, 9)
┌────────────┬──────────┬───────────┬───────────┬───┬──────────┬───────────┬───────────┬───────────┐
│ Country or ┆ ISO Code ┆ Data      ┆ Reference ┆ … ┆ 1 member ┆ 2-3       ┆ 4-5       ┆ 6 or more │
│ area       ┆ ---      ┆ source    ┆ date (dd/ ┆   ┆ ---      ┆ members   ┆ members   ┆ members   │
│ ---        ┆ i64      ┆ category  ┆ mm/yyyy)  ┆   ┆ f64      ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆          ┆ ---       ┆ ---       ┆   ┆          ┆ f64       ┆ f64       ┆ f64       │
│            ┆          ┆ str       ┆ str       ┆   ┆          ┆           ┆           ┆           │
╞════════════╪══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════╪═══════════╪═══════════╡
│ Afghanista ┆ 4        ┆ MICS      ┆ 2010-01-0 ┆ … ┆ 0.15     ┆ 7.41      ┆ 18.59     ┆ 73.85     │
│ n          ┆          ┆           ┆ 7         ┆   ┆          ┆           ┆           ┆           │
│            ┆          ┆           ┆ 00:00:00  ┆   ┆          ┆           ┆           ┆           │
│ Afghanista ┆ 4        ┆ DHS       ┆ 19/10/201 ┆ … ┆ 0.19     ┆ 6.45      ┆ 16.84     ┆ 76.52     │
│ n          ┆          ┆           ┆ 5         ┆   ┆          ┆           ┆           ┆           │
└────────────┴──────────┴───────────┴───────────┴───┴──────────┴───────────┴───────────┴───────────┘

In [48]:
sql.execute('''create table household_size as
            select country, avg_hh_size, share_1_members, share_2_3_members, share_4_5_members
            from
            (select distinct on(country)
                cc.country_iso3 as country
                , case when `Reference date (dd/mm/yyyy)` like '__/__/____' then right(`Reference date (dd/mm/yyyy)`, 4)
                    else left(`Reference date (dd/mm/yyyy)`, 4) end ::int as year 
                , `Data source category` as data_source
                , `Average household size (number of members)`::float4 avg_hh_size
                , `1 member`::float4 as share_1_members
                , `2-3 members`::float4 as share_2_3_members
                , `4-5 members`::float4 as share_4_5_members
            from household_size_tmp hh
            inner join country_codes cc
                on hh.`ISO Code` = cc.country_code
            order by 1, 2 desc
            , data_source -- для детерминированности
            ) sub
;
''')
sql.execute('''select * from household_size order by 3 desc limit 10;''').collect()

shape: (10, 5)
┌─────────┬─────────────┬─────────────────┬───────────────────┬───────────────────┐
│ country ┆ avg_hh_size ┆ share_1_members ┆ share_2_3_members ┆ share_4_5_members │
│ ---     ┆ ---         ┆ ---             ┆ ---               ┆ ---               │
│ str     ┆ f32         ┆ f32             ┆ f32               ┆ f32               │
╞═════════╪═════════════╪═════════════════╪═══════════════════╪═══════════════════╡
│ AUS     ┆ 2.55        ┆ null            ┆ null              ┆ null              │
│ JAM     ┆ 3.06        ┆ null            ┆ null              ┆ null              │
│ KNA     ┆ null        ┆ null            ┆ null              ┆ null              │
│ NZL     ┆ 2.6         ┆ null            ┆ null              ┆ null              │
│ LVA     ┆ 2.26        ┆ 41.080002       ┆ 40.799999         ┆ 14.41             │
│ FIN     ┆ 2.07        ┆ 41.009998       ┆ 44.459999         ┆ 12.97             │
│ BLR     ┆ 2.16        ┆ 37.959999       ┆ 47.02             ┆ 13.54             │
│ DEU     ┆ 2.14        ┆ 37.27           ┆ 48.09             ┆ 13.21             │
│ AUT     ┆ 2.27        ┆ 36.290001       ┆ 44.93             ┆ 16.49             │
│ NLD     ┆ 2.23        ┆ 35.110001       ┆ 45.529999         ┆ 18.01             │
└─────────┴─────────────┴─────────────────┴───────────────────┴───────────────────┘

## Соединяю информацию о коронавирусе, ограничениях и контрольных переменных в одну таблицу и экспортирую её

In [ ]:
sql.register('regressors_tmp',
            sql.execute('''
    select 
        *
    from covid c
    full outer join restrictions r
        using(country, t)
    ;''').collect().with_columns(pl.coalesce(['country', 'country:r']).alias("country")
                                    , pl.coalesce(['t', 't:r']).alias("t")).drop(['country:r', 't:r']))
regressors = sql.execute('''
    select * 
    from regressors_tmp r
    left join temperature t
        using(country)
    left join median_age_table
        using(country) 
    left join SARS_table
        using(country)
    left join density_and_mortality
        using(country) 
    left join household_size
        using(country)
    ;''').collect()
regressors

shape: (765, 39)
┌─────────┬──────┬────────────┬──────────┬───┬─────────────┬─────────────┬────────────┬────────────┐
│ country ┆ t    ┆ cases      ┆ deaths   ┆ … ┆ avg_hh_size ┆ share_1_mem ┆ share_2_3_ ┆ share_4_5_ │
│ ---     ┆ ---  ┆ ---        ┆ ---      ┆   ┆ ---         ┆ bers        ┆ members    ┆ members    │
│ str     ┆ i16  ┆ f64        ┆ f64      ┆   ┆ f32         ┆ ---         ┆ ---        ┆ ---        │
│         ┆      ┆            ┆          ┆   ┆             ┆ f32         ┆ f32        ┆ f32        │
╞═════════╪══════╪════════════╪══════════╪═══╪═════════════╪═════════════╪════════════╪════════════╡
│ BMU     ┆ 2021 ┆ 232.765781 ┆ 4.102904 ┆ … ┆ 2.26        ┆ 34.09       ┆ 48.389999  ┆ 15.81      │
│ FLK     ┆ 2020 ┆ 22.791077  ┆ 0.0      ┆ … ┆ null        ┆ null        ┆ null       ┆ null       │
│ MAR     ┆ 2020 ┆ 31.862597  ┆ 0.533094 ┆ … ┆ 4.58        ┆ 7.2         ┆ 26.18      ┆ 37.939999  │
│ CRI     ┆ 2022 ┆ 319.252767 ┆ 0.928932 ┆ … ┆ 3.21        ┆ 12.07       ┆ 48.799999  ┆ 31.610001  │
│ SSD     ┆ 2021 ┆ 2.810219   ┆ 0.01789  ┆ … ┆ 5.98        ┆ 3.15        ┆ 14.56      ┆ 29.370001  │
│ …       ┆ …    ┆ …          ┆ …        ┆ … ┆ …           ┆ …           ┆ …          ┆ …          │
│ KOR     ┆ 2021 ┆ 29.354219  ┆ 0.237644 ┆ … ┆ 2.34        ┆ 31.75       ┆ 48.099998  ┆ 19.27      │
│ RKS     ┆ 2020 ┆ null       ┆ null     ┆ … ┆ null        ┆ null        ┆ null       ┆ null       │
│ MAC     ┆ 2020 ┆ null       ┆ null     ┆ … ┆ 3.07        ┆ 15.13       ┆ 48.16      ┆ 31.059999  │
│ RKS     ┆ 2022 ┆ null       ┆ null     ┆ … ┆ null        ┆ null        ┆ null       ┆ null       │
│ RKS     ┆ 2021 ┆ null       ┆ null     ┆ … ┆ null        ┆ null        ┆ null       ┆ null       │
└─────────┴──────┴────────────┴──────────┴───┴─────────────┴─────────────┴────────────┴────────────┘

In [68]:
regressors.write_parquet('preprocessed_data/regressors.parquet.gzip')