# Предобрабатываю данные (избавляюсь от дубликатов), агрегирую до года, соединяю таблицы

In [2]:
pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.Collecting polars==1.22.0 (from -r requirements.txt (line 1))
  Downloading polars-1.22.0-cp39-abi3-win_amd64.whl.metadata (15 kB)
Collecting pandas==2.2.3 (from -r requirements.txt (line 2))
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy==2.2 (from -r requirements.txt (line 3))
  Downloading numpy-2.2.0-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting plotly==6.0.0 (from -r requirements.txt (line 4))
  Downloading plotly-6.0.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas==2.2.3->-r requirements.txt (line 2))
  Using cached pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas==2.2.3->-r requirements.txt (line 2))
  Using cached tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting narwhals>=1.15.1 (from plotly==6.0.0->-r requirements.txt (line 4))
  Downloading narwhals-1.25.2-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: packaging in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from plotly==6.0.0->-r requirements.txt (line 4)) (24.2)
Requirement already satisfied: six>=1.5 in c:\users\unstr\documents\7 семестр работы\диплом\thesis-repo\thesis\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r requirements.txt (line 2)) (1.17.0)
Downloading polars-1.22.0-cp39-abi3-win_amd64.whl (33.2 MB)
   ---------------------------------------- 0.0/33.2 MB ? eta -:--:--
   -- ------------------------------------- 2.1/33.2 MB 11.7 MB/s eta 0:00:03
   ----- ---------------------------------- 4.5/33.2 MB 11.8 MB/s eta 0:00:03
   -------- ------------------------------- 7.1/33.2 MB 11.8 MB/s eta 0:00:03
   ----------- ---------------------------- 9.7/33.2 MB 11.8 MB/s eta 0:00:02
   -------------- ------------------------- 12.1/33.2 MB 11.8 MB/s eta 0:00:02
   ----------------- ---------------------- 14.7/33.2 MB 11.8 MB/s eta 0:00:02
   -------------------- ------------------- 17.0/33.2 MB 11.8 MB/s eta 0:00:02
   --------------------- ------------------ 17.8/33.2 MB 11.8 MB/s eta 0:00:02
   ------------------------ --------------- 20.4/33.2 MB 10.9 MB/s eta 0:00:02
   --------------------------- ------------ 22.8/33.2 MB 11.0 MB/s eta 0:00:01
   ------------------------------ --------- 25.4/33.2 MB 11.1 MB/s eta 0:00:01
   --------------------------------- ------ 27.8/33.2 MB 11.1 MB/s eta 0:00:01
   ------------------------------------ --- 30.1/33.2 MB 11.2 MB/s eta 0:00:01
   ---------------------------------------  32.8/33.2 MB 11.2 MB/s eta 0:00:01
   ---------------------------------------- 33.2/33.2 MB 10.9 MB/s eta 0:00:00
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Downloading numpy-2.2.0-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------- -------------------------------- 2.4/12.6 MB 11.8 MB/s eta 0:00:01
   -------------- ------------------------- 4.7/12.6 MB 11.8 MB/s eta 0:00:01
   ----------------------- ---------------- 7.3/12.6 MB 11.8 MB/s eta 0:00:01
   ------------------------------- -------- 10.0/12.6 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 11.5 MB/s eta 0:00:00
Downloading plotly-6.0.0-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ------ --------------------------------- 2.4/14.8 MB 11.8 MB/s eta 0:00:02
   ------------- -------------------------- 5.0/14.8 MB 11.8 MB/s eta 0:00:01
   -------------------- ------------------- 7.6/14.8 MB 11.8 MB/s eta 0:00:01
   -------------------------- ------------- 10.0/14.8 MB 11.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.3/14.8 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 11.4 MB/s eta 0:00:00
Downloading narwhals-1.25.2-py3-none-any.whl (305 kB)
Using cached pytz-2025.1-py2.py3-none-any.whl (507 kB)
Using cached tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, polars, numpy, narwhals, plotly, pandas
Successfully installed narwhals-1.25.2 numpy-2.2.0 pandas-2.2.3 plotly-6.0.0 polars-1.22.0 pytz-2025.1 tzdata-2025.1

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
cd ..

c:\Users\unstr\Documents\7 семестр работы\Диплом\thesis-repo\thesis\data

c:\Users\unstr\Documents\7 семестр работы\Диплом\thesis-repo\thesis\.venv\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import polars as pl

In [3]:
trade19 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2019_V202501.csv')
trade20 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2020_V202501.csv')
trade21 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2021_V202501.csv')
trade22 = pl.read_csv('./raw_data/BACI_HS17_V202501/BACI_HS17_Y2022_V202501.csv')
sql = pl.SQLContext(register_globals=True)

In [4]:
#Структура данных. t, i , j , k --- ключ.
sql.execute('''select * from trade19 limit 1;''').collect()

shape: (1, 6)
┌──────┬─────┬─────┬────────┬───────┬───────┐
│ t    ┆ i   ┆ j   ┆ k      ┆ v     ┆ q     │
│ ---  ┆ --- ┆ --- ┆ ---    ┆ ---   ┆ ---   │
│ i64  ┆ i64 ┆ i64 ┆ i64    ┆ f64   ┆ f64   │
╞══════╪═════╪═════╪════════╪═══════╪═══════╡
│ 2019 ┆ 4   ┆ 20  ┆ 420229 ┆ 0.471 ┆ 0.001 │
└──────┴─────┴─────┴────────┴───────┴───────┘

In [5]:
#Проверяю, что в данных нет дублей
print(sql.execute('''select i, j, k, count(*) as cnt from trade19 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade20 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade21 group by 1, 2, 3 order by 4 desc limit 1;''').collect())
print(sql.execute('''select i, j, k, count(*) as cnt from trade22 group by 1, 2, 3 order by 4 desc limit 1;''').collect())

shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 757 ┆ 528 ┆ 551511 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 757 ┆ 686 ┆ 580632 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 702 ┆ 196 ┆ 630491 ┆ 1   │
└─────┴─────┴────────┴─────┘
shape: (1, 4)
┌─────┬─────┬────────┬─────┐
│ i   ┆ j   ┆ k      ┆ cnt │
│ --- ┆ --- ┆ ---    ┆ --- │
│ i64 ┆ i64 ┆ i64    ┆ u32 │
╞═════╪═════╪════════╪═════╡
│ 604 ┆ 484 ┆ 620193 ┆ 1   │
└─────┴─────┴────────┴─────┘

In [6]:
sql.execute(''' 
            create table trade_tmp as
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade20
            union all
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade21
            union all
            select 
                    t::smallint
                    , i::smallint
                    , j::smallint
                    , k
                    , v::float4
                    , q::float4
                    ,  case when length(k::varchar) = 5 then '0'||(k::varchar) 
                            else k::varchar end as category 
                    from trade22
            ;
            ''').collect()
sql.execute('''select count(*) from trade_tmp;''').collect()

shape: (1, 1)
┌──────────┐
│ len      │
│ ---      │
│ u32      │
╞══════════╡
│ 34145929 │
└──────────┘

In [7]:
del trade20
del trade21
del trade22

In [8]:
trade = sql.execute('''select 
                tr.*
                , t19.v as v19
                , t19.q as q19    
            from trade_tmp tr
            inner join trade19 t19
                on tr.i = t19.i
                and tr.j = t19.j
                and tr.k = t19.k
            ;''').collect()
sql.register('trade', trade)

## Агрегирую заболеваемость и смертность

In [9]:
covid_tmp = pl.read_csv('raw_data/Our World In Data/owid-covid-data.csv')
sql.register('covid_tmp', covid_tmp)
sql.execute('''select * from covid_tmp limit 2;''').collect()

shape: (2, 67)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ iso_code ┆ continent ┆ location  ┆ date      ┆ … ┆ excess_mo ┆ excess_mo ┆ excess_mo ┆ excess_mo │
│ ---      ┆ ---       ┆ ---       ┆ ---       ┆   ┆ rtality_c ┆ rtality_c ┆ rtality   ┆ rtality_c │
│ str      ┆ str       ┆ str       ┆ str       ┆   ┆ umulative ┆ umulative ┆ ---       ┆ umulative │
│          ┆           ┆           ┆           ┆   ┆ _ab…      ┆ ---       ┆ str       ┆ _pe…      │
│          ┆           ┆           ┆           ┆   ┆ ---       ┆ str       ┆           ┆ ---       │
│          ┆           ┆           ┆           ┆   ┆ str       ┆           ┆           ┆ str       │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ AFG      ┆ Asia      ┆ Afghanist ┆ 2020-01-0 ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│          ┆           ┆ an        ┆ 5         ┆   ┆           ┆           ┆           ┆           │
│ AFG      ┆ Asia      ┆ Afghanist ┆ 2020-01-0 ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│          ┆           ┆ an        ┆ 6         ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [10]:
#Надо подумать, нет ли тут эндогенных пропусков (т.е. если у страны нулевая заболеваемость, значит ли это, что она ничего не репортит, а не репортит 0)
sql.execute('''create table covid as
    select 
            iso_code as iso
            , left(date, 4)::smallint as t
            , avg(new_cases_per_million) as cases
            , avg(new_deaths_per_million) as deaths
            , avg(new_tests_per_thousand) as tests
            , avg(population_density) as population_density
            , avg(median_age) as median_age
            , avg(aged_65_older) as aged_65_older
            , avg(aged_70_older) as aged_70_older
            , avg(cardiovasc_death_rate) as cardiovasc_death_rate
            , avg(handwashing_facilities) as handwashing_facilities
            , avg(life_expectancy) as life_expectancy
    from covid_tmp
    where date <= '2022-12-01'
    group by iso_code, left(date, 4)        
;''')
sql.execute('''select * from covid limit 2;''').collect()

shape: (2, 12)
┌─────┬──────┬───────────┬──────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ iso ┆ t    ┆ cases     ┆ deaths   ┆ … ┆ aged_70_olde ┆ cardiovasc_d ┆ handwashing_ ┆ life_expect │
│ --- ┆ ---  ┆ ---       ┆ ---      ┆   ┆ r            ┆ eath_rate    ┆ facilities   ┆ ancy        │
│ str ┆ i16  ┆ f64       ┆ f64      ┆   ┆ ---          ┆ ---          ┆ ---          ┆ ---         │
│     ┆      ┆           ┆          ┆   ┆ f64          ┆ f64          ┆ f64          ┆ f64         │
╞═════╪══════╪═══════════╪══════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ VNM ┆ 2020 ┆ 0.039834  ┆ 0.000967 ┆ … ┆ 4.72         ┆ 245.46       ┆ 85.85        ┆ 75.4        │
│ PCN ┆ 2022 ┆ 265.33997 ┆ 0.0      ┆ … ┆ null         ┆ null         ┆ null         ┆ null        │
└─────┴──────┴───────────┴──────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘